*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo {
    color: gold;
    font-size: 36px;
    font-style: italic;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: gold;
    transition: 0.3s;
}

body {
    background-color: black;
}

.menu1 {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.menu2 {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
